{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block body %}
{{ parent() }}
  <div id="sidebar"></div>  

  <div class="row">
    
    <div class="leftcolumn">
      
        {% for post in posts %}

        <div class="card">
            <h2><a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }} </a></h2>
            <h5>Posté le: {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</h5>
            {% for tag in post.tags %}<a href="/tag/{{ tag.id }}" class="badge {{ tag.categ }}">{{ tag.name }}</a>  {% endfor %}
            <div class="fakeimg" style="height:200px;" href="{{ post.image }}">Image</div>
            <p>{{ post.content|slice(0, 255) }}...</p>
          </div>
  

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>A propos:</h2>
        <div class="fakeimg" style="height:100px;"><img src="\images\moimeme.jpg"  class="img-fluid" alt="c moi"></div>
        <p>Bonjour, je m'appelle Hélio Gaudé et je suis étudiant en BTS SIO. Voici mon <a href="google.com" >CV</a>.</p>
      </div>
      <div class="card">
        <h3>Posts récents test</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Vouvez me suivre ici:</h3>
        <p><a href="gogle.com">Linkdin</a> ajouter logo</p>
        <p><a href="gogle.com">Github</a> ajouter logo</p>
        <p><a href="gogle.com">Twitter</a> ajouter logo</p>
      </div>
    </div>
  </div>

{% endblock %}
