{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
{{ parent() }}
  
  <div class="row">
    <div class="leftcolumn">
        <div class="card">
            <table class="table1">
                <tbody>
    
                    <tr>
                        <th></th>
                        <td><h1>{{ post.nom }} </h1><h3>Posté le: {{ post.createdAt ? post.createdAt|date('Y-m-d') : '' }}</h3></td>
                    </tr>
                    {% if not post.tags.empty %}
                    <tr>
                      <th>Tags:</th>
                      <td>{% for tag in post.tags %}<a href="/tag/{{ tag.id }}" class="badge {{ tag.categ }}">{{ tag.name }}</a>  {% endfor %}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th></th>                        
                        <td style="width:100px;">{{ post.content|markdown_to_html }}</td>
                    </tr>
                    

                </tbody>
            </table>
        </div
          </div>
  
    </div>
    <div class="rightcolumn">
      
      <div class="card">
        <h3>Documents</h3>
        {% for document in post.Documents %}<p><a href="{{ document.link }}">{{ document.libelle }}</a></p>  {% endfor %}
      </div>
      
    </div>
  </div>

{% endblock %}
