{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h3>{{ tag.name }} </h3>
  
    
    <table class="table">
        <tbody>
            {# <caption>Liste des articles comprenant ce tag:</caption> #}
            <tr>
                <th>Description: </th>
                <td >{{ tag.description }}</td>
            </tr>
            <tr>
                <th></th>
                <td ><strong>Liste des posts possédant ce tag:</strong></td>
            </tr>
            {% for post in tag.posts %} 
            <tr>
                <th>Post n°{{post.id}}: </th>
                <td ><a href="/post/{{ post.id }}">{{ post.nom }}</a></td>
            </tr>
            
             {% endfor %}      
        </tbody>
    </table>

    
{% endblock %}
